.media-card {
  &__tag {
    font-weight: bold;
    white-space: nowrap;
    border-radius: 20px;
    font-size: 10px;
    padding: 4px 8px;
    display: inline-block;
    margin: 0 4px 4px 0;
  }
  &__time-until {
    color: rgba(88, 88, 88, 0.884);
    font-size: 12px;
    margin: 0 0 10px 0;
  }
  &__heading {
    margin: 10px 0;
    font-size: 16px;
    color: rgb(71, 71, 71);
  }

  &__img-wrap {
    height: 230px;
    overflow: hidden;
    border-radius: 6px;
    display: block;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    max-width: 220px;
    // @media (max-width: 350px) {
    //   height: 300px;
    // }
  }

  &__score {
    background: rgb(54, 51, 194);
    color: rgb(219, 219, 219);
    height: 24px;
    padding-left: 4px;
    padding-right: 4px;

    font-weight: bold;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6px;
    right: 4px;
    position: absolute;
    font-size: 12px;
  }

  &__img-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
