.search {
  &__search {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
  }
  &__pagination {
    display: flex;
    justify-content: flex-start;
    margin: 24px 0;
  }
  &__title {
    font-size: 36px;
    margin: 0 0 16px 0;
  }
  &__button {
    font-weight: 200;
    height: 40px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    background-color: rgb(80, 64, 230);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 16px;
    margin-right: 8px;
    // text-transform: uppercase;

    &:disabled {
      cursor: not-allowed;
      background-color: rgb(218, 218, 218);
      color: rgb(102, 102, 102);
    }
    &--pagination {
      height: 32px;
      font-size: 14px;
    }
  }

  @mixin form-element {
    box-sizing: border-box;
    border: 2px solid #f3f3f3;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    margin-right: 8px;
    color: rgb(102, 102, 102);
    font-family: "Montserrat", sans-serif;
  }

  &__input {
    @include form-element;
    width: 360px;
    padding-left: 8px;
  }
  &__select {
    @include form-element;
    padding: 0 16px 0 8px;
  }
}
