.section {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 40px 8px;
}

.footer {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
